@model CreateFeatureSliderDto
@{
    ViewData["Title"] = "CreateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Öne Çıkan Resim Başlığı</label>
                        <input type="text" class="form-control" asp-for="FeatureSliderTitle" />
                        <br />
                        <label>Öne Çıkan Resim Açıklaması</label>
                        <input type="text" class="form-control" asp-for="FeatureSliderDescription" />
                        <br />
                        <label>Öne Çıkan Resim Resim Yolu</label>
                        <input type="text" class="form-control" asp-for="FeatureSliderImageUrl" />
                        <br />
                        <button class="btn btn-primary">Öne Çıkan Resimi Ekle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>